{{!-- The following component displays Ember's default welcome message. --}}
{{!-- {{welcome-page}} --}}
{{!-- Feel free to remove this! --}}

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    {{#link-to "main" class="navbar-brand"}}<em>Bolbeck</em>{{/link-to}}
    <!-- <a class="navbar-brand" href="#"></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
          {{#link-to "cust-kpi-formulas" class="nav-link"}}Customer KPI Formulas{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "main" class="nav-link"}}Customer KPIs{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "main" class="nav-link"}}Customer{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "products" class="nav-link"}}Products{{/link-to}}
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Additional Items
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {{#link-to "main" class="dropdown-item"}}Promotions{{/link-to}}
            {{#link-to "main" class="dropdown-item"}}Periods{{/link-to}}
            {{#link-to "main" class="dropdown-item"}}Authorization Lists{{/link-to}}
          </div>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
  <div class="body">
  {{nlp/nlp-compromise}}
  <br>
    {{outlet}}
  </div>
</div>
