<div class="jumbo">
  <div class="right tomster"></div>
  <h2 class = "mainTitle">Customer KPI Formulas</h2>
  <p>
    This page will display the formulas associated with customer KPIs
  </p>

{{outlet}}
</div>
