<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Products</h2>
  <p>This is where we will see products</p>
  {{#link-to "custKpiFormulas" class="button"}}
   Go to customer KPI formulas
   {{/link-to}}
</div>
